<component name="ArtifactManager">
  <artifact type="war" name="SpringBootActuatorDemo:war">
    <output-path>$PROJECT_DIR$/SpringBootActuatorDemo/target</output-path>
    <root id="archive" name="SpringBootActuatorDemo.war">
      <element id="artifact" artifact-name="SpringBootActuatorDemo:war exploded" />
    </root>
  </artifact>
</component>